name: Monitoramento PNCP Iterativo

on:
  schedule:
    - cron: '0 11 * * *' # Roda todo dia às 08h BRT
  workflow_dispatch: # Permite iniciar manualmente

permissions:
  contents: write
  actions: write # Necessário para o robô disparar a si mesmo

jobs:
  run-robot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests urllib3

      - name: Executar um dia de coleta
        run: python app.py

      - name: Commit e Push
        run: |
          git config --global user.name "Bot PNCP"
          git config --global user.email "bot@pncp.com"
          git add dados/oportunidades.js checkpoint.txt
          git commit -m "Coleta diária finalizada" || exit 0
          git push

      - name: Verificar se deve continuar
        run: |
          if [ ! -f "finish.txt" ]; then
            echo "Ainda há dias pendentes. Disparando nova tarefa..."
            curl -X POST \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${{ github.repository }}/actions/workflows/main.yml/dispatches" \
              -d '{"ref":"main"}'
          else
            echo "Varredura completa finalizada!"
            rm finish.txt
          fi
