name: Monitoramento PNCP Iterativo

on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  run-robot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Coletar
        run: |
          pip install requests urllib3
          python app.py

      - name: Save and Push
        run: |
          git config --global user.name "Bot PNCP"
          git config --global user.email "bot@pncp.com"
          git add .
          git commit -m "Dia processado: $(cat checkpoint.txt)" || exit 0
          git push

      - name: Re-trigger
        # Só dispara se o arquivo finish.txt NÃO existir
        if: hashFiles('finish.txt') == ''
        run: |
          echo "Dia concluído com sucesso. Chamando próxima tarefa..."
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ github.repository }}/actions/workflows/main.yml/dispatches \
          -d '{"ref":"main"}'
